footer{
    background-image: url(/rm378-09-kny9fh3b.jpg);
    position:absolute;
    color: #fff;
    width:100vw;
}
.social{
    padding: 0px;
}
h1{
    padding: 0px;
}

h4{
    padding:15px 0px;
}
.social{
    margin: auto;
} 
 .social a{
    padding: 5px;
} 
.social li{
    display:inline-block;
    background-color: white;
    width:50px;
    height: 50px;
    border-radius: 50%;
    margin: 15px;
    text-align: center;
    line-height: 30px;
    
}
.social li a{
    text-decoration: none;
    padding-top: 4px;
    color: blue;
    transition: .3s;
    font-size: 40px;
}
.social li a i{
    text-decoration: none;
    padding-top: 4px;
    color: blue;
    transition: .3s;
    font-size: 25px;

}
.social li a:hover{
    color:red;
    text-decoration:none;
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.footer .links ul{
    list-style-type: none;

}

.footer .links li a{
    color: white;
    transition: color .2s;
    text-decoration: none;
}
.footer .links li a:hover{
    text-decoration:none;
    color: red;
}
.footer .location i{
    font-size: 18px;
}

.footer .copyright p{
    font-size: 1.3rem;
    text-shadow: 1px 1px black;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

.round{
    border-radius:50%;
    border-color: black;
}

.picture{
   padding:40px;
}

.button{
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 5px;
  cursor: pointer;
  border-radius: 25px;
}

.nav-item a:hover{
    font-size: x-large;
}
